<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocketIO Demo</title>
    {#        <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>#}
    {#        <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>
    {#    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"#}
    {#            integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"#}
    {#            crossorigin="anonymous"></script>#}

</head>
<body>

<h2>Demo of SocketIO</h2>
<input id="inp" placeholder="请输入要发送的信息"/>
<button onclick="postMessage()">发送</button>
<div id="t"></div>
<script>
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/robot_chat');
    $(document).ready(function () {
        socket.on('message', function (res) {
            var t = res;
            if (t) {
                $("#t").append(t).append('<br/>');
            }

        });


    });

    function postMessage() {
        socket.emit("qwer", "{ message: inp.value, time: new Date() }");
    }

</script>
</body>
</html>


